
.my-bg-color1 {
    background-color: rgb(58, 68, 180);
}
.my-bg-color2 {

}
.my-txt-color1 {
    color: rgb(58, 68, 180);
}
.my-txt-color2 {
   color:  #C1AEFC;
}
.my-txt-color3 {
    color: #B05A7A!important;
}

